@import url('https://fonts.googleapis.com/css2?family=Alkatra&display=swap');

html {
  height: 100%;
  width: 100%;
  font-family: 'Times New Roman', serif;
}

.button {
  width:66px;
  padding: 20px;
  margin: 0 3px;
  border: 2px solid black;
  border-radius: 9px;
  cursor: pointer;
}

.row {
  margin: 8px 0px;
}

.row input {
  font-size: 18px;
  margin: 0;
  padding: 6px 36px;
  border: 2px solid black;
  border-radius: 5px;
}